on init
    # Goodix fingerprint
    chown system system /dev/goodix_fp

on boot
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display/fod_ui

on post-fs-data
    mkdir /data/vendor/goodix 0770 system system
    mkdir /mnt/vendor/persist/goodix 0770 system system

service vendor.fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.3-service.xiaomi_sm6150-udfps
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input uhid
